<configuration>
    <contextName>${APP_NAME}</contextName>
    <appender name="stdout_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSSSSZ</pattern>
                    <timeZone>America/Sao_Paulo</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <contextName>
                    <fieldName>appname</fieldName>
                </contextName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc />
                <logstashMarkers />
                <arguments />
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <fileFieldName>file</fileFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
                <throwableClassName>
                    <fieldName>throwableClass</fieldName>
                </throwableClassName>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>200</maxDepthPerThrowable>
                        <maxLength>5000</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>
    <appender name="stdout" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stdout_console"/>
        <queueSize>100</queueSize>
        <neverBlock>true</neverBlock>
    </appender>
    <root level="info">
        <appender-ref ref="stdout"/>
    </root>
</configuration>